<div class="container">
    <div class="innerContainer">
        <div class="info">
            <div class="logo">
                <img src="../../assets/logo.png" alt="" class="icon">
                <p class="title"><b>SouTube Premium</b></p>
            </div>
            
            <div class="head1">
                <p >SouTube and SouTube Music ad-free, offline, and in the background</p>
            </div>
            <div class="try">
                <p>TRY IT FREE</p>
            </div>
            
            <div class="trial">
                <p>1-month free trial • Then IDR 59,000.00/month</p>
            </div>
            
            <div class="foot">
                <p>Recurring billing • Cancel anytime</p>
                <p>Or save money with a family or student plan</p>
                <a href="https://www.youtube.com/premium" style="text-decoration: none; color : #0054c2"><b>Restrictions apply. Learn more here.</b></a>
            </div>
            
        </div>

    </div>

</div>