<div class="header">
    <div class="rip">
        <img src="../../assets/hamburgMenu.png" class="hamMenu" (click) ="newMessage()" alt="">
    </div>
    
    <a href=""><img src="../../assets/logo.png" alt="" class="logo">
        <p class="title">SouTube</p>
    </a>
    
    
    <div class="userPop" *ngIf="userPop" id="userPoped">
        <div class="usersDetail" >
            <img class="userIconS" src="{{currentUser.img_url}}" alt="">
            <div class="a">
                <p class="signInTextS"><b>{{user.name}}</b></p>
                <p class="emailTextS">{{user.email}}</p>
            </div>
            
        </div>
        <hr style="border : 0.2px solid #f0f0f0"><br>
        <div class="switch" (click)="toggleUserPop()">
            <img class="iconss" src="../../assets/feed.png" alt="">
            <div class="b" (click)="signOut()">
               <p class="switchTxt">Switch Account</p>
            </div>
            
        </div>
        <div class="switch" (click)="toggleUserPop()">
            <img class="iconss" src="../../assets/you.png" alt="">
            <a [routerLink]="['/channel',currentUser.user_id]"  style="text-decoration: none; color : black">
                <div class="b">
                    <p class="switchTxt">Your Channel</p>
                 </div>
            </a>
            
            
        </div>
        <div class="switch" (click)="toggleUserPop()">
            <img class="iconss" src="../../assets/you.png" alt="">
            <a [routerLink]="['/premium']" style="text-decoration: none;color : black">
            <div class="b">
               <p class="switchTxt">Soutube Premium</p>
            </div>
            </a>
            
        </div>
        <div class="switch" (click)="toggleUserPop()">
            <img class="iconss" src="../../assets/location.png" alt="">
            <div class="b">
               <p class="switchTxt">Location : Indonesia</p>
            </div>
            
        </div>
        <div class="switch" (click)="toggleUserPop()">
            <img class="iconss" src="../../assets/keyboard.png" alt="">
            <div class="b" (click)="toggleKey()">
               <p class="switchTxt">Keyboard Shortcut</p>
            </div>
            
        </div>
        <div class="switch" (click)="toggleUserPop()">
            <div class="b">
               <p class="switchTxt" style="margin-left : 50px">Restricted mode : off</p>
               
            </div>
            
        </div>
    </div>

    <div *ngIf="user != null" class="signDiv"  id="signDived" (click)="toggleUserPop()">
        <img class="userIcon" src="{{currentUser.img_url}}" alt="">
        <!-- <p class="signInText">{{user.name}}</p> -->
    </div>
    <!-- <img src="../../assets/signin.png" (click)="signInWithGoogle()" *ngIf="!user" class="signButton" alt=""> -->
    <img src="../../assets/signin.png" (click)="toggleModal()" *ngIf="!user" class="signButton" alt="">

    
    <div class="blackback" id="backg" *ngIf="modal">
        
    </div>
    <div class="modalSign" *ngIf="modal">
        <div class="titleHead">
            <p>Do you want to sign in?</p>
        </div>
        <div>
            <button (click)="signInWithGoogle()" style="margin-right: 10px;">Sign In</button>
            <button (click)="toggleModal()" >Cancel</button>
        </div>
    </div>



    <img  (click)="toggleMore()" *ngIf="!user"  src="../../assets/more.png" alt="" class="more">
    <img src="../../assets/bell.png" *ngIf="user"  alt="" (click)="toggleAdd()" class="add">
    <img src="../../assets/add.png" *ngIf="user"  alt="" (click)="toggleAdd()" id="ad" class="add">
    <div *ngIf="(more)" class="morePop">
        <div class="loc">
            <img src="../../assets/location.png" alt="" class="locIcon"> <p class="locText">Location :Indonesia</p>
        </div>
        <div class="key" (click)="toggleKey()">
            <img src="../../assets/keyboard.png" alt="" class="kyb"> <p class="keyText">Keyboard Shortcuts</p>
        </div>
        <hr class="divider">
        <div class="restricted">
            <p class="res">Restricted Mode : Off</p>
        </div>
        
    </div>
    <div class="searchDiv">
        <!-- <form [formGroup]="stateForm" autocomplete="new-password" novalidate>
            <input class ="searchBar" (click)="toggleAC()"  formControlName="search"   type="text" placeholder=" Search">
        </form>
        <div>
            <div  *ngIf="showAC" class="autoComplete">
                <div class="autoC" (click)="selectValue(c.processor)" *ngFor="let c of computers | searchFilter : getSearchValue()">
                    {{c.processor}}
                </div>
            </div>
        </div> -->
        <input class ="searchBar" type="text" placeholder=" Search" id="searchIn" (keyup)="refreshAC()">

            <div class="searchIconDiv" (click) ="move()">
                <img class="searchIcon" src="../../assets/search.png" alt="">
            </div>
        <div class="ac" *ngIf="showAc">
            <div *ngFor="let video of videos, let i = index" >
                <div class="isi" (click)="getSearch(video.video_title)" *ngIf="i < 3">
                    {{video.video_title}}
                </div>
                
            </div>
            <div *ngFor="let ac of allchannel, let j = index" >
                <div class="isi" (click)="getSearch(ac.user_name)" *ngIf="j < 1">
                    {{ac.user_name}}
                </div>
            </div>
            <div *ngFor="let ac of playlists, let k =    index" >
                <div class="isi" (click)="getSearch(ac.playlist_name)" *ngIf="k < 1">
                    {{ac.playlist_name}}
                </div>
            </div>
        </div>
    </div>

    

    <a routerLink="/create" style="text-decoration: none;color: black">
        <div *ngIf="(showAdd)" class="addPop" >
            <div class="upCont">
                <img src="../../assets/upload.png" alt=""  class="upIcon">
                <p class="upText">Upload Video</p>
            </div>
        </div>
    </a>
    
    <!-- <app-sign-in></app-sign-in> -->
    
    <!-- <button (click)="signOut()" *ngIf="user">SignOut</button> -->
</div>

<div class="overlay" id="modKey" *ngIf="showKey">

    
</div>
<div class="modalKey" *ngIf="showKey">
    <div class="head">
        <p class="keyTit">Keyboard shortcuts</p>
    </div>
    <div class="isinya">
        <div class="left">
            <p class="playT"><b>PLAYBACK</b></p>
            <hr class="garis">
            <pre class="txt">Toggle play/pause                                                                                    [SPACE]/k            </pre>
            <hr class="garis">
            <pre class="txt">Rewind 10 seconds                                                                                            j            </pre>
            <hr class="garis">
            <pre class="txt">Fast forward 10 seconds                                                                                    l            </pre>
            <hr class="garis">
            <pre class="txt">Previous video                                                                                                   P            </pre>
            <hr class="garis">
            <pre class="txt">Next video                                                                                                          N            </pre>
            <hr class="garis">
            <pre class="txt">Toggle full screen                                                                                                f            </pre>
            <hr class="garis">
            <pre class="txt">Mute                                                                                                                   m            </pre>
            <hr class="garis">
        </div>
    </div>
    <div class="footer">
        <div class="dismiss" (click)="toggleKey()">
            <p>DISMISS</p>
        </div>
    </div>
</div>


<div class="notif">
    <div style="display: flex; flex-direction: column;">
        <p style="margin-left : 20px"><b>Notification</b></p>
            <div style="display: flex;" *ngFor="let notif of notifs">
                <img *ngIf="notif" src="{{notif.img_url}}" style="width: 30px;height: 30px;margin-left: 20px;" alt="">
                <div *ngIf="notif" style="display: flex;flex-direction: column;">
                    <span style="font-size: 13px;margin-left : 10px">{{notif.user_name}} Posted new {{notif.types}}</span>
                    <p style="font-size: 12px;margin-top : -2px;margin-left: 10px;">2 week ago</p>
                </div>
            </div>
        
    </div>
</div>