<a href="/videoPlayer/{{video.video_id}}" style="text-decoration: none;color:black">
    <div class="card">
        <div class="video">
            <img src="{{video.video_thumb}}" class="thumb" alt="">
        </div>
        <div class="detail">
            <p class="title">{{video.video_title}}</p>
            <p class="details">{{view.length}} Views</p>
            
        </div>
        
    </div>
</a>
<img *ngIf="getUser()" src="../../assets/more.png" class="moreIcon" (click)="toggleMore()" alt="">
<div class="popMore" *ngIf="showMore">
    <div class="addPlay" style="display : flex;flex-direction : row">
        <div>
            <img src="../../../assets/playlist.png" class="plIcon" alt="">
        </div>
        
        <div>
            <p>Save to playlist</p>
        </div>
    </div>
    <div class="addPlay" style="display : flex;flex-direction : row">
        <div>
            <img src="../../../assets/queue.png" class="plIcon" alt="">
        </div>
        
        <div>
            <p>Add to queue</p>
        </div>
    </div>
    

</div>
<a href="/channel/{{user.user_id}}"><div class="detailss"><p>{{user.user_name}}</p></div></a>