<a routerLink="/playlist/{{play.playlist_id}}" style="text-decoration: none;color:black">
    <div class="card">
        <div class="video">
            <img src="../../assets/playlist.png" class="thumb" alt="">
        </div>
        <div class="detail">
            <p class="title">{{play.playlist_name}}</p>
            <p class="details">{{playlist.length}} videos</p>
            
        </div>
    </div>
</a>
<a href="/channel/{{user.user_id}}"><p class="detailss">{{user.user_name}}</p></a>