<div class="container" [ngClass]="{containerSmall: !message}">
    <div class="musicBox">
        <img src="../../assets/news.png" alt="" class="icon">
        <div class="divTit">
            <p class="tit">News</p>
        </div>
    </div>
    <div style="display: flex;flex-direction:  column;">
        <div>
            <h3 style="font-family: arial;margin-left : 25px;margin-top : 10px;margin-bottom : -20px"><b>All Time Popular</b></h3>
            <h3 style="font-family: arial;margin-left : 25px" *ngIf="!videoFiltered">None</h3>
            <div *ngFor="let video of videoFiltered, let i = index">
                <app-cards *ngIf="i < 20"  [video]="video"></app-cards>
            </div>
            
        </div>
        <div>
            <h3 style="font-family: arial;margin-left : 25px;margin-top : 30px;margin-bottom : -20px"><b>Popular this week</b></h3>
            <h3 style="font-family: arial;margin-left : 25px" *ngIf="!week">None</h3>
            <div *ngFor="let video of week, let i = index">
                <app-cards *ngIf="i < 20"  [video]="video"></app-cards>
            </div>
        </div>
        <div>
            <h3 style="font-family: arial;margin-left : 25px;margin-top : 30px;margin-bottom : -20px"><b>Popular this month</b></h3>
            <div *ngFor="let video of months, let i = index">
                <app-cards *ngIf="i < 20"  [video]="video"></app-cards>
            </div>
        </div>
        <div>
            <h3 style="font-family: arial;margin-left : 25px;margin-top : 30px;margin-bottom : -20px"><b>Recently Uploaded</b></h3>
            <div *ngFor="let video of recently, let i = index">
                <app-cards *ngIf="i < 20"  [video]="video"></app-cards>
            </div>
        </div>
    </div>
</div>