<!-- 
<div class="container" [ngClass]="{containerSmall: !message}">
    <div class="dropzone">
      <p class="title"><b>Details</b></p>

        <div class="titleInput">
            <p style="margin-left : 25px;font-family : arial;font-size : 12px"><b>Title (required)</b></p>
            <input type="text" name="" placeholder=" Add a title that describe your video" class="inText" id="">
            <p style="margin-left : 25px;font-family : arial;font-size : 12px"><b>Description</b></p>
            <textarea name="" class="desTxt" resizeable="none" placeholder=" Tell viewers about your video" cols="30" rows="10"></textarea>
            <div class="thu"  style="width: 585px;height: 120px;">
              <p style="margin-left : 25px;font-family : arial;font-size : 12px"><b>Thumbnail</b></p>
              <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top: -10px;">Select or upload a picture that shows what's in your video. A good thumbnail stands out and draws </p>
              <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top: -10px;">viewers' attention. <a href="https://support.google.com/youtube/answer/57792" style="text-decoration: none;">Learn more</a></p>
              <div class="inThumb">
                <img src="../../assets/thumb.png" alt="" width="100px" class="thumb">
                <input type="file" name="" id="" class="newThumb">
              </div>
            </div>
            
            <p style="margin-left : 25px;font-family : arial;font-size : 12px"><b>Playlists</b></p>
            <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top: -10px;">Add your video to one or more playlists. Playlists can help viewers discover your content </p>
            <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top: -10px;">faster. <a href="https://support.google.com/youtube/answer/57792" style="text-decoration: none;">Learn more</a></p>
            <select name="" id="" style="margin-left : 25px;">
              <option value="a">first playlist</option>
              <option value="b">second playlist</option>
              <option value="c">third playlist</option>
            </select>

            <p style="margin-left : 25px;font-family : arial;font-size : 12px"><b>Audience</b></p>
            <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top:-10px"><b>Is this video made for kids? (required)</b></p>
            <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top:-10px">Regardless of your location, you're legally required to comply with the Children's Online </p>
            <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top:-10px">Privacy Protection Act (COPPA) and/or other laws. You're required to tell us whether your </p>
            <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top:-10px">videos are made for kids. <a href="https://support.google.com/youtube/answer/9528076" style="text-decoration: none;">What's content made for kids?</a></p>

            <input type="radio" name="choice" id="" style="margin-top : 2px;width:3px;float : left;margin-left : 25px;margin-right :10px"><p style="font-family: arial;font-size : 12px;margin-left : 10px;margin-top: 6px;">Yes, it's made for kids</p>
            <input type="radio" name="choice" id="" style="margin-top : -2px;width:3px;float : left;margin-left : 25px;margin-right :10px"><p style="font-family: arial;font-size : 12px;margin-left : 5px;margin-top: -3px;">No, its's not made for kids</p>

            <p style="margin-left : 25px;font-family : arial;font-size : 12px"><b>Visibility</b></p>
            <p style="margin-left : 25px;font-family : arial;font-size : 12px;margin-top : -10px">Choose when to publish and who can see your video</p>
            <input type="radio" style="margin-left : 25px;width:3px;float : left;margin-right: 10px;margin-top:1px" name="saveOrSchedule" id=""><p style="font-family: arial;font-size : 12px;margin-left : 10px;margin-top: 6px;">Save or Publish</p><br>
            <div class="saveDetail" style="margin-left : 50px;margin-top: -12px;">
              <input type="radio" name="visible" id="" style="width:3px;float: left;margin-top: -10px;margin-right :4px"><p style="font-family: arial;font-size : 12px;margin-left : 10px;margin-top: -10px;float : left">Private</p><br>
              <input type="radio" name="visible" id="" style="width:3px;float: left;margin-top: -10px;margin-right :4px"><p style="font-family: arial;font-size : 12px;margin-left : 10px;margin-top: -10px;float : left">Unlisted</p><br>
              <input type="radio" name="visible" id="" style="width:3px;float: left;margin-top: -10px;margin-right :4px"><p style="font-family: arial;font-size : 12px;margin-left : 10px;margin-top: -10px;float : left">Public</p><br>
            </div>
            
            <input type="radio" style="margin-left : 25px;width:3px;float : left;margin-right: 2px;margin-top:-5px" name="saveOrSchedule" id=""><p style="font-family: arial;font-size : 12px;margin-left : 10px;margin-top: -5px;float: left">Schedule</p><br>
            <input type="date" style="margin-left : -35px"  name="" id=""> <br>

            <a routerLink="/create"><input type="submit" value="UPLOAD" style="margin-left: 25px;margin-top : 15px;margin-bottom : 15px"> </a>
        </div>
    </div>
  </div> -->

  <app-file-upload></app-file-upload>