.card
    float : left
    background-color : #f2f2f2
    width : 280px
    height : 260px
    margin-top : 20px
    margin-left : 10px
    box-shadow : 0px 0px 10px 0px #c2c2c2
    @media screen and (max-width : 600px)
        width : 435px
        height : 330px

.besar
    width : 280px
    height : 260px
    float : left
    margin-top : 20px
    margin-left : 10px

.card:hover
    background-color : #e6e6e6
    .durate
        opacity : 1

.besar:hover
    .moree
        display : block
    .moreIcon
        display : block


.cardS:hover
    background-color : #e6e6e6
    .durate
        opacity : 1

.cardS
    float : left
    background-color : #f2f2f2
    width : 280px
    height : 260px
    margin-top : 20px
    margin-left : 20px
    box-shadow : 0px 0px 10px 0px #c2c2c2
    @media screen and (max-width : 600px)
        width : 435px
        height : 330px
        margin-left : 30px



.video
    width : 280px
    height : 160px
    
    background-color : #f2f2f2
    object-fit : scale-down
    @media screen and (max-width : 600px)
        width : 435px
        height : 230px

.detail
    float : left
    width : 200px
    margin-left : 10px
    font-family : arial
    font-size : 13px

.details
    height : 20px
    width : 200px
    margin-bottom : 10px
    font-family : arial
    font-size : 13px
    color : #4d4d4d

.details:hover
    color : black

.detail p
    overflow : hidden
    text-overflow : ellipsis
    white-space : nowrap

.detailAgain
    font-family : arial
    font-size : 13px
    margin-top : -12px
    color : #4d4d4d

.icon
    width : 35px
    margin-top  : 10px
    margin-left : 5px
    border-radius : 20px

.thumb
    display : flex
    justify-content : center
    margin : 0 auto
    height : 160px
    max-width : 280px 
    @media screen and (max-width : 600px)
        max-width : 435px
        height : 230px  
    
.durate
    position : absolute
    display : flex
    justify-content : center
    align-item : center
    margin-left : 170px
    height : 40px
    min-width : 60px
    background-color : black
    margin-top : -129px
    color : white
    opacity : 0


.moreIcon
    position : absolute
    display : flex
    justify-content : center
    margin-top : 190px
    margin-left : 270px
    width : 20px
    height : 20px
    display : none

.moree
    position : absolute
    width : 12px
    margin-top : 5px
    display : none

.popMore
    position : absolute
    width : 150px
    height : 80px
    margin-top : 190px
    margin-left : 290px
    background-color : white
    font-size : 12px



.plIcon
    width : 20px
    height : 20px
    margin-top : 10px
    margin-left : 20px
    margin-right : 10px

.addPlay
    padding : 1px

.addPlay:hover
    background-color : #c2c2c2




