.container
    float : left
    margin-top : 40px
    margin-left : 230px
    width : 82vw
    min-height : 93.5vh
    height : auto
    overflow-x : auto
    background-color : #f2f2f2
    

h2
    font-family : arial
    margin-left : 15px

.containerSmall
    float : left
    margin-top : 40px
    margin-left : 67px
    width : 93.2vw
    min-height : 93.5vh
    height : auto
    overflow-x : auto
    background-color : #f2f2f2
    @media screen and (max-width : 600px)
        margin-left : 0px
        width : 100vw

.left
    float : left
    width : 420px
    height : 93vh
    overflow-y : auto
    background-color : white
    margin-top  : -8px

.leftSmall
    margin-left : 0px

.video
    margin-top : 35px
    background-color : blue
    width : 350px
    margin-left : 35px
    height : 200px

.title
    font-size : 17px
    margin-left : 35px
    font-weight : 600
    font-family : arial

.vidDetail
    font-family : arial
    font-size : 13px
    margin-left : 35px
    color : #8e8e8e
    margin-top : -5px

select
    margin-left : 35px

textarea
    margin-top : 10px
    margin-left : 35px
    resize : none
    width : 345px
    border : none
    height : 30px
    border-bottom : 1px solid #8e8e8e

.userIcon
    margin-top : 20px
    margin-left : 35px
    width : 40px
    float : left
    margin-right : 10px

.name
    margin-top : 20px
    font-family : arial
    font-size : 13px
    float : left
    width : 200px
    height : 30px

.right
    margin-left : 10px
    float : left
    width : 50.9vw
    height : 93vh
    overflow-y : auto
    overflow-x : hidden
    background-color : red
    @media screen and (max-width : 1420px)
        background-color : green
        width : 45vw
    @media screen and (max-width : 1200px)
        background-color : yellow
        width : 42vw
    @media screen and (max-width : 1100px)
        background-color : gray
        width : 280px
    @media screen and (max-width : 930px)
        background-color : brown
        width : 420px
        margin-top : 20px

.sort
    width : 750px
    height : 60px
    background-color : blue
    

.sortIcon
    margin-left : 35px
    margin-right : 20px
    width : 20px
    margin-top : 28px
    float : left

.sortTxt
    font-family : arial
    float : left
    font-size : 14px
    margin-top  : 30px

.queue
    margin-top : 10px
    margin-left : 2vw
    width : 46vw
    height : 100px
    background-color : pink
    @media screen and (max-width : 1420px)
        width : 39vw
    @media screen and (max-width : 1200px)
        width : 35vw
    @media screen and (max-width : 1100px)
        width : 220px
        height : 250px
    @media screen and (max-width : 930px)
        width : 350px
        margin-left : 25px

.imgVid
    margin-right : 10px
    float : left
    width : 180px
    height : 100px
    background-color : cyan
    @media screen and (max-width : 1100px)
        width : 220px
        height : 140px
    @media screen and (max-width : 930px)
        width : 350px
        height : 170px

.vidTitle
    font-family : arial
    float : left
    width : 32.5vw
    height : 100px
    background-color : turquoise
    @media screen and (max-width : 1420px)
        width : 23vw
    @media screen and (max-width : 1200px)
        width : 15vw
    @media screen and (max-width : 1100px)
        width : 220px
        height : 120px
    @media screen and (max-width : 930px)
        width : 350px
        height : 80px

.tit
    margin-top : 33px
    font-weight : 600
    font-size : 14px
    @media screen and (max-width : 1200px)
        margin-top : 23px
    @media screen and (max-width : 1100px)
        margin-left : 10px

.chan
    margin-top : -10px
    font-size : 13px
    color : #8e8e8e
    @media screen and (max-width : 1100px)
        margin-left : 10px