<div class="container" [ngClass]="{containerSmall: !message}">
    <div class="left" [ngClass]="{leftSmall: !message}"> 
        <div class="video">
            <mat-video id="vi" src="{{video.video_url}}" autoplay = "true"></mat-video>
        </div>
        <div class="details">
            <p class="title">{{video.video_title}}</p>
            <p class="title">{{playlistIdentity.playlist_name}}</p>
            <div style="display: flex;">
                <p class="vidDetail">{{convertMetricNumber(playlist.length)}} videos • created</p>
                <p class="vidDetail" style="margin-top : -18px;margin-left: 4px" [innerHtml]="dateDetail">{{playlist.length}} videos • created</p>
            </div>
           
            <!-- <select name="" id="">
                <option value="1">Private</option>
                <option value="1">Public</option>
                <option value="1">Unlisted</option>
            </select> -->
        </div>
        <!-- <div class="description">
            <textarea name="" id="" cols="130" rows="5" placeholder="No Description"></textarea>
        </div> -->
        <a [routerLink]="['/channel/',user.user_id]"  style="text-decoration: none;color : black">
            <div class="user" >
                <div class="userDiv">
                    <img src="{{user.img_url}}" alt="" class="userIcon">
                </div>
                <div class="name">
                    <p><b>{{user.user_name}}</b></p>
                </div>
            </div>
        </a>
        
    </div>
    <div class="right">
        <div class="sort">
            <img src="../../assets/sort.png" alt="" class="sortIcon">
            <p class="sortTxt">SORT BY</p>
        </div>

        <app-playcard *ngFor="let play of playlist" [play] = "play"></app-playcard>
    </div>
</div>