



<div class="containerSmall" >
    <div class="video">
        <div class="player" id="pl" (keyup)="keyChecker($event)">
            <mat-video (click)="ref()" id="vi" [loop]="looped" quality="true" showFrameByFrame="true" playsinline="true" time="1" title="{{video.video_title}}" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="true" color="accent" spinner="split-ring" [keyboard]=key overlay="false" src="{{video.video_url}}" >
            </mat-video>
        </div>
        <div id="dislikeLine">

        </div>
        <div id="likeLine">

        </div>
        <div class="popPlay" *ngIf="showPlay"  >
            <div style="display: flex;flex-direction: column;min-height: 30px;max-height: 60px;overflow-y:auto ;">
                <div *ngFor="let playlist of playlists">
                    <div>
                        <input type="checkbox" name="" id="ch{{playlist.playlist_id}}" (click)="addToPlaylist(playlist)">{{playlist.playlist_name}}
                    </div>
                    
                </div>
            </div>
            
            <div style="display: flex;flex-direction: column;">
                New Playlist
                <div style="display: flex;flex-direction: column;   ">
                    <p>Playlist Name</p>
                    <input type="text" id="namep">
                    <p>Visibility</p>
                    <select name="visib" id="vs">
                        <option value="Public">Public</option>
                        <option value="Private">Private</option>
                    </select>
                    <p></p>
                    <button (click)="addPlaylist()">Create</button>
                </div>
            </div>
        </div>
        <div class="feature">
            <h2 style="margin-top : 30px">{{video.video_title}}</h2>  
            <div class="views" style="display : flex; flex-direction : row" >
                <pre style="font-family: arial;">{{convertMetricNumber(view.length)}} views • </pre>
                <div [innerHtml]="dateDetail" ></div>
            </div>
            <!-- <a routerLink="/playlist"> -->
                <div class="save" (click)="togglePlay()">
                    <img src="../../assets/playlist.png" alt="" class="saveIcon">
                    <p class="saveTxt">SAVE</p>
                </div>
            <!-- </a> -->
           
            
            <div class="share" id="sho" (click)="toggleShare()">
                <img src="../../assets/share.png" alt="" class="likeIcon">
                <p class="likeTxt">SHARE</p>
            </div>
            <div class="like" (click)="dislike(video.video_id)">
                <i class="far fa-thumbs-down" id="dislikedId" style="float : left;margin-right : 10px;font-size : 20px;"></i>
                
                <p class="likeTxt">{{convertMetricNumber(dislikedVideo.length)}}</p>
            </div>
            <!-- <div class="like" *ngIf="haveDisliked">
                <img src="../../assets/disliked.png" (click)="undislike(video.video_id)" alt="" class="likeIcon">
                <p class="likeTxt">{{dislikedVideo.length}}</p>
            </div> -->
            <div class="like" id="notYetLike" (click)="like(video.video_id)">
                <i class="far fa-thumbs-up" id="likedId" style="float : left;margin-right : 10px;font-size : 20px;" ></i>
                <!-- <img src="../../assets/like.png" alt="" > -->
                <p class="likeTxt">{{convertMetricNumber(likedVideo.length)}}</p>
            </div>
            <!-- <div class="like" id="liked" *ngIf="haveLiked">
                <img src="../../assets/liked.png" alt="" class="likeIcon" (click)="unlike(video.video_id)">
                <p class="likeTxt">{{likedVideo.length}}</p>
            </div> -->
        </div>
        <hr>
        <div class="description">
            <div class="desCont">
                <div class="user">
                    <img src="{{user.img_url}}" alt="" class="userIcon">
                    <div class="detailUser">
                        <a href="channel/{{user.user_id}}"><p style="color: black;text-decoration: none;" class="chanName"><b>{{user.user_name}}</b></p></a>
                        <p class="subsCount">{{convertMetricNumber(user.subscriber_count)}} subscribers</p>
                    </div>
                </div>
                <div style="display: flex;" *ngIf="currentUser && email != user.email">
                    <!-- <div class="bell">
                        <img src="../../assets/bell.png" alt="" class="bellIcon">
                    </div> -->
                    
                    <!-- <div class="subsBtn">
                        <p class="subsText">SUBSCRIBE</p>
                    </div> -->
                    <button *ngIf="!doneSubbed" style="margin-left : 500px;margin-right: 10px;background-color: #2359d9;color : white;border : none; height : 35px" (click)="addSubs()">{{currentUser.email}}</button>
                    <button *ngIf="doneSubbed" style="margin-left : 500px;margin-right: 10px;background-color: #4d4d4d;color : white;border : none; height : 35px" (click)="unSubs()">SUBSCRIBED</button>
                    <div>
                        <img *ngIf="doneSubbed" src="../../assets/bell.png" style="width: 18px;margin-top: 6px;" alt="">
                    </div>
                </div>
            </div>
            <div class="descDiv">
                <p class="desTxt">{{video.video_desc}}</p>
                <div class="line-it-button" data-lang="en" data-type="share-a" data-ver="3" data-url="{{link}}" data-color="default" data-size="small" data-count="true" style="margin-left : 100px"></div>
            </div>
            
        </div>


        <hr class="divider2">
        <div class="commentSection">
            
            <div class="cmHead">
                <div class="cmCount">
                    <p>{{convertMetricNumber(comment_count)}} Comments</p>
                </div>
                <div class="sort" (click)="sortTop()">
                    <img src="../../assets/sort.png" alt="" class="sortIcon">
                    <p class="sortText">Sort By Top Comment</p>
                </div>
                <div class="sort" (click)="sortNew()">
                    <img src="../../assets/sort.png" alt="" class="sortIcon">
                    <p class="sortText">Sort By Newest</p>
                </div>
            </div>
            
            <div class="newComment" *ngIf="currentUser">
                
                <img src="{{currentUser.img_url}}" id="ph" alt="" class="userIcon">
                <textarea name="" id="dcomment" cols="30" rows="10" class="inComment" placeholder="Insert Comment Here.."></textarea>
                <button style="height: 30px;margin-top: 12px;margin-left: 10px;" (click)="addComment();">Comment</button>
            </div>
            <div *ngFor="let comment of comments, let i = index" >
                <app-comments *ngIf="i < lastIndex" [comment] = "comment"></app-comments>
            </div>
            <div class="footer">

            </div>
        </div>
    </div>
    <app-side-queue></app-side-queue>
    
</div>

<div class="overlays" *ngIf="showShare">
</div>
<div class="shr"*ngIf="showShare" >
    <div>
        <p>Share this to your social media</p>
    </div>
    <div style="height: 45px;">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"><img src="../../assets/tweet.png" style="height: 40px ; margin-top: -5px;" alt=""></a>
        <div class="line-it-button" data-lang="en" data-type="share-a" data-ver="3" data-url="{{link}}" data-color="default" data-size="large" data-count="true" style="height: 30px;"></div>
        
        <!-- <div class="elfsight-app-c03801a8-63c9-40fe-868e-0d38e19a717b"></div> -->
        <!-- <button>Twitter</button> -->
    </div>
    
    
    <div style="height: 35px;">
        <input type="text" name="" id="urls" value="{{link}}">
        <button (click)="copy()">Copy URL</button>
    </div>
    <div style="height: 35px;">
        <input type="text" name="" id="urlss" value="{{linkCurr}}">
        <button (click)="copyCurr()">Copy Current Time Url</button>
    </div>
    
</div>

<!-- <div id="op"></div> -->
    <div class="rightClick" id="ilang">
        <div (click)="copyRight()" style="padding : 2px">
            <p  >Copy Url</p>
        </div>
        <div (click)="copyCurrRight()" style="padding : 2px">
            <p >Copy Url Current Time</p>
        </div>
        <div style="padding : 2px" (click)="loopp()">
            <p>Loop</p>
        </div>
    </div>
<!-- </div> -->


<div>
    <input type="text" name="" id="lis" value="">
    <input type="text" name="" value="" id="cu" >
</div>

