<div class="container" [ngClass]="{containerSmall: !message}">
    <div class="musicBox">
        <img src="../../assets/games.png" alt="" class="icon">
        <div class="divTit">
            <p class="tit">Gaming</p>
            <p class="subsText">111M subscribers</p>
        </div>
        <div class="buttSubs">
            <p class="subsTextRed">SUBSCRIBE</p>
        </div>
        
    </div>
    <h3 style="font-family: arial;margin-left : 25px"><b>Top Gaming Video</b></h3>
    <app-cards *ngFor="let video of videoFiltered" [video]="video"></app-cards>
</div>