.card
    margin-top : 20px
    width : 800px
    height : 150px
    margin-left : 80px
    @media screen and (max-width : 1250px)
        margin-left : 55px
        width : 630px
    @media screen and (max-width : 991px)
        margin-left : 25px
        width : 600px
    @media screen and (max-width : 600px)
        display : flex
        flex-direction : column
        margin-left : 15px
        height : 300px
        width : 320px


.card:hover
    background-color : #c2c2c2
    transition : background 2s
.video 
    float : left
    width : 250px
    height : 150px
    @media screen and (max-width : 600px)
        width : 320px
        height : 200px

.thumb  
    object-fit : cover
    width : 250px   
    height : 150px
    @media screen and (max-width : 600px)
        width : 320px
        height : 200px
        object-fit : cover

.detail
    padding-top : 1px
    margin-left : 265px

    @media screen and (max-width : 600px)
        flex-direction : column
        margin-left : 0px
        height : 130px

.title
    font-family : arial
    overflow : hidden
    white-space : nowrap
    text-overflow : ellipsis

.details
    margin-left : 100px
    font-family : arial
    color : #4d4d4d
    margin-top : -14px
    font-size : 13px
    @media screen and (max-width : 600px)
        margin-top : 5px
        margin-left : 0px

.bom   
    @media screen and (max-width : 600px)
        height : 20px

.detailsd
    margin-left : 10px
    font-family : arial
    color : #4d4d4d
    font-size : 13px
    margin-top : -26px
    @media screen and (max-width : 600px)
        margin-top : -8px
        margin-left : 10px

.detailss
    font-family : arial
    color : #4d4d4d
    margin-top : -5px
    font-size : 13px
    overflow : hidden
    white-space : nowrap
    text-overflow : ellipsis
    @media screen and (max-width : 600px)
        height : 30px


.name
    position: absolute
    width: 100px
    height: 20px
    font-size: 13px
    margin-top : -112px
    margin-left : 345px
    text-decoration: none
    color : #4d4d4d
    @media screen and (max-width : 768px)
        margin-left : 290px
    @media screen and (max-width : 600px)
        margin-left : 18px
        margin-top : -60px

.name:hover
    color : black

.moreIcon
    position : absolute
    display : flex
    justify-content : center
    margin-top : -130px
    margin-left : 850px
    width : 15px    
    height : 15px
    @media screen and (max-width : 768px)
        margin-left : 550px
    @media screen and (max-width : 600px)
        margin-left : 300px
        margin-top : -80px

.moree
    position : absolute
    width : 12px
    margin-top : 5px


.popMore
    position : absolute
    width : 150px
    height : 80px
    margin-top : -140px
    margin-left : 870px
    background-color : white
    font-size : 12px



.plIcon
    width : 20px
    height : 20px
    margin-top : 10px
    margin-left : 20px
    margin-right : 10px

.addPlay
    padding : 1px

.addPlay:hover
    background-color : #c2c2c2


.pre
    width : 15px
    position : absolute
    margin-left : 200px
    margin-top : -20px