.card
    margin-top : 20px
    width : 800px
    height : 150px
    margin-left : 80px
    @media screen and (max-width : 1250px)
        margin-left : 55px
        width : 630px
    @media screen and (max-width : 991px)
        margin-left : 25px
        width : 450px
    @media screen and (max-width : 600px)
        margin-left : 15px
        height : 130px


.card:hover
    background-color : #c2c2c2
.video 
    float : left
    width : 250px
    height : 150px
    @media screen and (max-width : 600px)
        width : 200px
        height : 130px

.thumb  
    display : flex
    margin : 0 auto
    max-width : 250px   
    height : 150px
    @media screen and (max-width : 600px)
        max-width : 200px
        height : 130px

.detail
    padding-top : 1px
    margin-left : 265px
    @media screen and (max-width : 600px)
        margin-left : 215px

.title
    font-family : arial
    overflow : hidden
    white-space : nowrap
    text-overflow : ellipsis

.details
    font-family : arial
    color : #4d4d4d
    margin-top : -14px
    font-size : 13px

.detailss
    font-family : arial
    color : #4d4d4d
    margin-top : -5px
    font-size : 13px
    overflow : hidden
    white-space : nowrap
    text-overflow : ellipsis

.name
    position: absolute
    width: 100px
    height: 20px
    font-size: 13px
    margin-top : -112px
    margin-left : 345px
    text-decoration: none
    color : #4d4d4d
    @media screen and (max-width : 600px)
        margin-left : 230px
        margin-top : -93px

.name:hover
    color : black

.moreIcon
    position : absolute
    display : flex
    justify-content : center
    margin-top : -130px
    margin-left : 850px
    width : 15px
    height : 15px


.moree
    position : absolute
    width : 12px
    margin-top : 5px


.popMore
    position : absolute
    width : 150px
    height : 80px
    margin-top : -140px
    margin-left : 870px
    background-color : white
    font-size : 12px



.plIcon
    width : 20px
    height : 20px
    margin-top : 10px
    margin-left : 20px
    margin-right : 10px

.addPlay
    padding : 1px

.addPlay:hover
    background-color : #c2c2c2


.pre
    width : 15px
    position : absolute
    margin-left : 200px
    margin-top : -20px